$white: #dcdfe1;
$blue: #0f7cbe;
$darkBlue: #0a61a8;
$navy: #1f2a64;
$pink: #ee3b97;
$darkPink: #a2217e;
$gray: #c1b9b0;

/*
When setting the primary font stack, apply it to the Pure grid units along
with "html", "button", "input", "select", and "textarea". Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Avenir Next W01", Helvetica, Arial, sans-serif;
}

.loggedOutBanner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: $navy;
  color: $white;

  img {
    background-color: $pink;
    padding: 1rem;
  }

  legend {
    color: $white;
  }

  button {
    background-color: $pink;
    color: $white;
  }
}

.loggedInBanner {
  width: 100vw;
  font-weight: bold;
  background-color: $pink;
  color: $white;

  .pure-g {
    padding: 1rem;
  }

  img {
    width: 80%;
    background-color: $pink;
    padding: 1rem;
  }

  .textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-around;
  }
}

.margin {
  margin: 1rem;
}

.topView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $navy;
  color: $white;

  .box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid $blue;
    background-color: $blue;
  }

  li {
    width: fit-content;
    margin: 1rem 0;
    span {
      padding: 0.2rem;
    }
  }
  .blue {
    background-color: $blue;
  }
  .pink {
    background-color: $pink;
  }
  .gray {
    background-color: $gray;
    color: $navy;
  }

  .partnersRemaining {
    font-size: 150%;
  }
}

.participantView {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $navy;
  color: $white;

  li {
    width: fit-content;
    margin: 1rem 0;
    span {
      padding: 0.2rem;
    }
  }
  .blue {
    background-color: $blue;
  }
  .pink {
    background-color: $pink;
  }
  .gray {
    background-color: $gray;
    color: $navy;
  }
}

.participant {
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    cursor: pointer;
    display: block;
    width: 50%;
    padding: 20px;
    margin: 5%;
    border: 1px solid $navy;
    color: $white;
    font-weight: bold;
  }

  .notActive {
    background-color: $white;
  }
  .mayRequest {
    background-color: $blue;
  }
  .isRequesting {
    background-color: $gray;
  }
  .isBeingRequested {
    background-color: $pink;
  }

  .positive {
    background-color: $pink;
  }
  .negative {
    background-color: $blue;
  }

}

.center {
  text-align: center;
}
